<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
        {% for item in bakery_item %}
            <h1> <div> Item : {{item.title}}</div> </h1>
            {% for x in ingredients %}
                {% if x.bakery_item == item.title %}
                <li>
                    <div> {{x.ingredients}} : {{x.quantity}} Unit </div>
                </li>
                {% endif %}
            {% endfor %}
        <br>
        {% endfor %}
</ul>

</body>
</html>