<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1> Welcome to Bakery App Management System </h1>
        <a href = "/addIngredients"> Add Required Ingredients For Bakery Item </a> <br>
        <a href = "/addIngredientsInStock"> Add Ingredients in Stock </a> <br>
        <a href = "/addItem"> Add Bakery Items</a> <br>
        <a href = "/all_items"> View All Items </a> <br>
        <a href = "/inventory"> Inventory </a> <br>



</body>
</html>